/* horizontal menu */

img {
	max-width: 100%;
}


/*--- end reset code ---*/

body {
	font-family: 'Work Sans', sans-serif;
	background: url(../bg.jpg) no-repeat center;
	background-size: cover;
}

p {
	font-size: 1em;
	line-height: 1.5;
}

.text-center {
	text-align: center;
}


/* Header */


a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
.container-w3layouts {
	width: 50%;
	margin: auto;
	padding: 7em 0 9em;
}

h2.txt-wthree {
	font-size: 5em;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	text-shadow: 3px 3px 3px #252b4f;
	margin: 0.2em 0;
}

.home a {
	display: block;
	background: #fff;
	width: 16%;
	border: 5px double #1e1d23;
	padding: 7px 0;
	margin: 2em auto 0;
	color: #000;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 10px;
}

.container-w3layouts p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	margin: 35px 0;
}
